.app {
  text-align: center;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c3134; /* Light blue background color */
  font-family: 'Roboto', sans-serif; /* Ensure consistent font styling */
} 